.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 30px 50px;
    border-top: 1px solid rgba(165, 165, 165, 0.3);
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
 
}
.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {

position: absolute;
left: 15px;
bottom: 15px;
}

.ellipsis__notification {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    background-color: tomato;
    position: absolute;
    left: 30px;
    bottom: 25px;
}