#noMoblie {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yello);
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}

@media screen and (max-width: 645px){
#noMoblie{
    display: none;
}
}